<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(data|js|styles|install)" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^.*$" />
                    <action type="Rewrite" url="/index.php?url={R:0}"/>
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" />
        <defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
           <files>      
               <clear/>     <!-- removes the existing default document list -->                
               <add value="redirect.php"/>     <!-- foo.htm is now the default document  -->
           </files>
        </defaultDocument>
    </system.webServer>
</configuration>